

#info_user {
    padding-left: 0px;
}

.media-heading {
    color: #ffffff;
}

.container {
    border-color: #bbdde8;
    ;
}

#id_avatar {
    padding: 1px;
}

.panel-primary {
    background:#e7e7e7 ;
}


#id_change_post {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#id_change_profile {
    max-width: 330px;
    padding: 10px;
    margin: 0 auto;
}

#id_registration {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#reg_complete {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 45px;
}

#id_auth {
     max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#id_guestBut{
    width: 135px;
    margin-right: 70px;
}

#id_regBut{
    width: 135px;
    margin-left: 70px;
}

#comment_name{

}

.center {
	top: 50%; /* Отступ в процентах от верхнего края окна */
	left: 50%; /* Отступ в процентах от левого края окна */
	width: 450px; /* Ширина блока */
	height: 450px; /* Высота блока */
	position: absolute; /* Абсолютное позиционирование блока */
	margin-top: -225px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
	margin-left: -225px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
}

#chat{
    width: 50%;
}
#chat-messages-container {
	overflow: auto; /* used for scrolling */
	/*width: 100%;*/
	height: 300px;
	border: 1px solid #777;
	-moz-border-radius: 5px;
    word-wrap:break-word;
    background: #ffffff;
}

#chat-messages .author {
    color: black;
	font-weight: bold;
}